.logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.logo > .name {
  font-size: 6em;
  color: #363636;
}
@media (max-width: 960px) {
  .logo > .name {
    font-size: 12vw;
  }
}
.logo > .image {
  width: 20vw;
  max-width: 200px;
}
.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
.no-top {
  padding-top: 0;
  margin-top: 0;
}
.big {
  font-size: 4em;
}
