.Demo {
  padding-top: 80px;
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  color: #fff;
  font-size: calc(0.5em + 1vw);
}

@media (min-width: 1200px) {
  button {
    font-size: 1em;
  }
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.demo-add {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 2em;
  outline: none;
}

.demo-stats {
  padding: 0 2em;
}
