.FadeInBlock {
  max-width: 280px;
  margin: 16px;
  flex: 1 0 auto;
}

.FadeInBlock:first-of-type {
  margin-top: 4em;
}

.FadeInBlock > h3,
.FadeInBlock > p {
  margin: 0;
  padding: 0;
}

.FadeInBlock[side='left'] {
  align-self: flex-start;
}

.FadeInBlock[side='right'] {
  align-self: flex-end;
}
