.FadeInBlock {
  max-width: 320px;
  margin: 16px;
  flex: 1 0 auto;
  position: relative;
  opacity: var(--opacity);
  will-change: opacity, left, right;
}

.FadeInBlock:first-of-type {
  margin-top: 4em;
}

.FadeInBlock > h3,
.FadeInBlock > p {
  margin: 0;
  padding: 0;
}

.FadeInBlock[side='left'] {
  align-self: flex-start;
  right: var(--slideIn);
}

.FadeInBlock[side='right'] {
  align-self: flex-end;
  left: var(--slideIn);
}
